@use "./scss/" as *;

// @import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
}

html {
  font-size: 100%;

  @include tablet {
    font-size: 80%;
  }

  @include mobile {
    font-size: 60%;
  }
}
a {
  text-decoration: none;
  color: unset;
}
body {
  font-family: "ubuntu", sans-serif;
}
@media (hover: hover) {
  a:hover {
    color: #222;
  }
}

button,
input {
  outline: 0;
}

ul {
  list-style-type: none;
}

img {
  max-width: 100%;
}

iframe {
  border: 0;
}
.container {
  width: 90%;
  margin: 0 auto;
}
